.main-container {
    background-color: rgb(17, 145, 46);
    color: white;
}

.main-container {
    background-color: rgb(17, 145, 46);
    color: white;
    height: 100vh;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid black;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.16em;
    font-size: 0.9em;
}

.title {
    flex-grow: 1;
    text-align: center;
}

.navigation_text {
    line-height: 0;
    padding-top: 0.25em;
}

.contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
}

.image-cropper {
    width: 70px;
    height: 70px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}
  
img {
    position: relative;
    display: inline;
    margin: 0 auto;
    height: 130%;
    width: auto;
}

.image {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
}

.barcode * {
    align-items: center;
    text-align: center;
}

.barcode-container {
    background-color: white;
    padding-top: 1.7em;
}

.barcode-text {
    color: black;
    margin-top: 0.6em;
    margin-bottom: 0;
    font-size: 0.9em;
}

.footer {
    padding-top: 1em;
    padding-bottom: 2em;
}

.footer * {
    text-align: center;
}

.footer p {
    margin-bottom: 0.5em;
}